.home-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px; 
  font-family: 'Roboto';
  font-size: 16;
}

.header-div {
width: 100%;
justify-content: center;
font-family: 'Roboto';
font-size: 18px;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
a:link {
color:white;
text-decoration: none;
}

a:visited {
  color: white
}
 a:hover {
   color:cadetblue
 }
 a:active {
   color: deeppink;
 }

 body {
   background-color:navy;
   color: white;
 }