.home-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px; 
}

.header-div {
text-align: left;
width: 100%;
flex-direction: column;
}
.header {
  flex-direction: column;
  font-family: 'Roboto';
  font-size: 32;
}

